.title {
    padding: 10px;
    margin: 0;
}
.buttonList {
    padding: 15px;
}
.button {
    margin-left: 5px;
    cursor: pointer;
    background-color: white;
    border: 1px solid;
    border-radius: 10%;
}